@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>

<div class="jumbotron">
    <div class="row">
        <div class="col-sm-6">
            <p>
                Hi,
                </br>My Name is <a href="https://www.soundcloud.com/104bpm">104 BPM</a>(S'gcino Gwacela).
                </br>Music has played a huge role in my life and if you've ever met me you'd know that I've always been about rhythm.
            </p>
            <p>
                </br>Now with that being said I am pretty sure there are people out there who share the same sentiments as mine with regards to music,basically this site/platform is aimed at giving like minded artists a platform on which they can share their work and stories.
                </br>I am a firm believer that "Collectively we make up the song of life." so expect to hear some abstract sounds as well as some visuals that are out of your comfort zone.
            </p>
            <p>
                </br>May this be the beggining of something great and may the spirit of rhythm live on.
                </br>- 104 BPM
            </p>
      </div>
        <div class="col-sm-offset-6">
            <img src="~/Content/104 BPM Header (2).jpg" class="img-thumbnail">
        </div>
   </div>
</div>



