
<div class="container-fluid">
    <h1>#TheBedroomProducerDiaries</h1>
    <p style="text-emphasis:dot;text-size-adjust:inherit">
        Looking to hear some new sounds? Then your at the right place.<br>
        Below you'll find featured artists who have been kind enough to share their work and stories.<br>Your <i>new</i> favourite producer might be a few clicks away!
    </p>
    <div class="jumbotron">
        
    </div>
</div>