@{
    ViewBag.Title = "Contact";
}
<div class="container-fluid">
    <div class="jumbotron">
        <h2>Contact</h2>
        <p>Please use the information below for any enquiries:</p>

        <address>
            <strong>104 BPM:</strong>   <a href="mailto:104bpm@milestone21music.co.za">104bpm@milestone21music.co.za</a><br />
        </address>

    </div>
</div>
