@{
    ViewBag.Title = "Contact";
}
<div class="container-fluid">
    <div class="jumbotron">
        <h2>Contact</h2>
        <p>For bookings, enquiries or just to get in touch :) please use the information below</p>

        <address>
            <strong>104 BPM:</strong>   <a href="mailto:104bpm@milestone21music.co.za">104bpm@milestone21music.co.za</a><br />
        </address>

        <address>
            <strong>104 BPM (Alternative):</strong><a href="mailto:sgcinogwacela@gmail.co.za">sgcinogwacela@gmail.com</a><br />
        </address>

    </div>
</div>
