@{
    ViewBag.Title = "Home";
}
<div class="jumbotron">
    <div class="row">
        <div class="col-sm-4">
            <h3>Why?</h3>
            <p>I love rhythm.</p>
        </div>
        <div class="col-sm-4">
            <h3>Vision?</h3>
            <p>Create a platform for all pure artists to share their work.</p>
            
        </div>
        <div class="col-sm-4">
            <h3>Knock Knock?</h3>
            <p>Whose there?</p>
            <p>Get ready to be suprised and thrown out of your comfort zone.</p>
        </div>
    </div>
    <div class="row">
       <h2>Latest release: </h2>
        <div style="position:relative;height:0;padding-bottom:75.0%"><iframe src="https://www.youtube.com/embed/tzNaJZJeH3A?rel=0?ecver=2" width="480" height="360" frameborder="0" style="position:absolute;width:100%;height:100%;left:0" allowfullscreen></iframe></div>
    </div>
   