<table align="center">
    <tr>
        <td> <a href="https://www.facebook.com/Sgcino104BPM" target="_blank" title="Facebook"><img src="~/Content/fb.png" width="50" height="50" /> </a> </td>
        <td> <a href="https://www.instagram.com/104bpm/"target="_blank"><img src="~/Content/instagram.png" width="50" height="50" title="Instagram" /> </td>
        <td> <a href="https://www.soundcloud.com/104bpm"target="_blank"><img src="~/Content/soundcloud.png"width="50" height="50" title="SoundCloud" /> </td>
        <td> <a href="https://twitter.com/104_BPM"target="_blank"><img src="~/Content/tiwitter.png" width="50" height="50" title="Twitter"/> </td>
        <td> <a href="https://www.youtube.com/channel/UCg-KQgtK4Nlciu_K1f6FyTg"target="_blank"><img src="~/Content/youtube.png" width="50" height="50" title="YouTube"/> </td>
    </tr>
    <tr>
        <p class="text-center">"Collectively we make up the song of life."</p>
    </tr>
</table>
