
<div class="container-fluid">
    <table align="center">
        <tr>
        <td><img src="~/Content/m2m.png" class="img-rounded" width="200" height="200">
        </td>
        </tr>
    </table>
</div>
